@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
      font-family: DM_Sans;
      grid-template-columns: auto 0px; 
      scroll-behavior: smooth;
    }
  }

@layer components {
    .sans {
      font-family: DM_Sans, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }

.clearfix:after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

.backmain {
  background: rgb(226,226,226);
  background: linear-gradient(16deg, rgb(180, 180, 180) 0%, rgb(253, 253, 253) 91%);
}

.bottomnav {
  background: rgb(190, 190, 190);
  background: linear-gradient(16deg, rgb(170, 170, 170) 0%, rgb(235, 235, 235) 91%);
}

.underlinemain {
  text-decoration: #F4AC84 underline;
}

.underlinemain2 {
  text-decoration: #64A49D underline;
}

@layer components {
  .top {
    grid-template-columns: auto auto;
  }
}
