@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
      font-family: DM_Sans;
      grid-template-columns: auto 0px; 
      scroll-behavior: smooth;
    }
  }

@layer components {
    .sans {
      font-family: DM_Sans, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }

.btn {
<<<<<<< HEAD
    @apply rounded-2xl font-bold uppercase cursor-pointer tracking-wider
=======
    @apply rounded-full font-bold uppercase cursor-pointer tracking-wider shadow-2xl
>>>>>>> e368337bab58533bbf1dcb97101585e8ca9e196e
}

.btn2 {
  @apply rounded-full font-bold py-1 px-4 cursor-pointer shadow-2xl
}

.btn3 {
  @apply rounded-full font-bold py-2 px-12 cursor-pointer tracking-wide uppercase shadow-2xl
}

@layer components {
  .top {
    grid-template-columns: auto auto;
  }
}